/* ---- Body ---- */
h1 {
	text-align: center;
	color:#fff;
	background-color:#c09569;
}

p {
	margin-left:10px;
}

.video {
	margin-left:40%;
	}

/* ---- Navigation ---- */
nav {
	text-align: center;
	background-color:#ccaa87;
	margin-top:-12px;
}

nav li {
	display: inline-block;
}

nav a {
	text-decoration: none;
	font-size: 3em;
	font-weight:700;
	padding: 30px 20px;
	color:#fff;
}

/* ---- Logo ---- */
.logo {
	max-width: 150px;
	border-radius: 50%;	
}

/* ---- Gallery ---- */

#gallery a {
	text-decoration: none;
}

#gallery li {
	display: inline;
	padding: 5%;
}

#gallery img {
	width: 10%;
}

/* ---- Slideshow ---- 
   ---- Under Construction ----
   ---- Hidden until Complete ---- */

.slides {
 	display: none;
 }


/* ---- Footer ---- */
footer {
	font-size:.75em;
	text-align:center;
	background-color:#ccaa87;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
}

/* ---- Colors 
	#ccaa87
	#c09569
	#C6996A
	#EDC9A2
	#87a9cc
	#abc2db
	#805223
---- */
.selected {
	color: #805223;
}

/* ---- Button ---- */
.btn {
	box-shadow: -5px 7px 13px -5px #87aacc;
	background-color:#abc2db;
	border-radius:22px;
	border:8px solid #87aacc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:2em;
	padding:21px 29px;
	text-decoration:none;
	text-shadow:-4px 4px 5px #8992cc;
}
.btn:hover {
	background-color:#87aacc;
	border:8px dotted #abc2db;
}

/* ---- Flexbox ---- */

.container {
	display: flex;
	padding: 10px;
	margin: 40px auto;
	background:#C6996A;
	border-radius: 10px;
	height: 300px;
	justify-content: center;
	align-content: center;
}

.item {
	padding: 15px;
	margin: 10px;
	background: #EDC9A2;
	border-radius: 10px;
}

.item a{
	text-decoration: none;
	display:block;
	color:#805223;
	font-size:1.25em;
}

/* ---- Media Queries ---- */
@media (max-width: 568px) {
	.logo {
		display:none;
	}

}