/* ---- Navigation ---- */

nav {
    width: 100%;
    background: #b0a096;
    border-bottom: 5px solid #846048;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
	text-decoration: none;
    display: block;
    color: #fff;
    font-weight:700;
    font-size:2em;
}


/* ---- Logo ---- */
.logo {
	max-width: 150px;
	border-radius: 50%;	
}

/* ---- Body ---- */
body {
	background-color: #f0efee;
}

p {
	margin-left:10px;
}

h1 {
	color:#9f8375;
	text-align:center;
}

.video {
	margin-left:40%;
	}

.selected {
	color: #846048;
}

/* ---- Gallery ---- */

#gallery a {
	text-decoration: none;
}

#gallery li {
	display: inline;
	padding: 5%;
}

#gallery img {
	width: 10%;
}

/* ---- Resources Links ---- */

.container {
	display: flex;
	padding: 10px;
	margin: 40px auto;
	border-radius: 10px;
	height: 300px;
	justify-content: center;
	align-content: center;
}

.item {
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
}

.item a{
	text-decoration: none;
	display:block;
	font-size:1.25em;
}


/* ---- Button
.btn {
	box-shadow: -5px 7px 13px -5px #87aacc;
	background-color:#abc2db;
	border-radius:22px;
	border:8px solid #87aacc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:2em;
	padding:21px 29px;
	text-decoration:none;
	text-shadow:-4px 4px 5px #8992cc;
}
.btn:hover {
	background-color:#87aacc;
	border:8px dotted #abc2db;
}
---- */


/* ---- Footer ---- */
footer {
	position:absolute;
	font-size:.75em;
	text-align:center;
	background-color:#514f4e;
	color: #b0afab;
	font-weight:700;
	width: 100%;
	height:40px;
}