/* ---- Navigation ---- */

nav {
    width: 100%;
    background: #b0a096;
    background-image: url("../img/flowers2.png");
    border-bottom: 5px solid #846048;
}

nav ul {
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
	text-decoration: none;
    display: block;
    color: #fff;
    font-weight:700;
    font-size:2em;
    text-shadow: 2px 2px 2px #61402d;
}


/* ---- Logo ---- */
.logo {
	max-width: 150px;
	border-radius: 50%;	
	box-shadow: 2px 2px 2px #61402d;
}

/* ---- Body ---- */
body {
	display:flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f0efee;
}

.body {
	flex-grow: 1;
}

p {
	margin-left:50px;
}

h1 {
	color:#9f8375;
	margin-left:50px;
}

.video {
	margin-left:40%;
	}

.selected {
	color: #846048;
}

.twitter-timeline {
	margin-left: 50px;
}

.fb-page {
    margin-left: 50px;
}

/* ---- Gallery ---- */

#gallery a {
	text-decoration: none;
}

#gallery li {
	display: inline;
	padding: 5%;
}

#gallery img {
	width: 10%;
}

/* ---- Resources Links ---- */

.container {
	display: flex;
	justify-content: center;
	align-content: center;
}

.item {
	padding: 15px;
    text-align: left;
    margin: none;
}

.item a{
	text-decoration: none;
	display:block;
	font-size:1.25em;
	color:#9f8375;
}

.item h1 {
    margin-left: 0px;
}

.item a:visited {
	color:#61402d;
}

.item li {
    font-size:.75em;
    margin-left:.5em;
}

/* ---- A to Z ---- */
.buttons {
   margin-left:50px; 
}

.btn {
	box-shadow: -3px 7px 9px -5px #b0a096;
    border: 1px solid #846048;
	background-color:#b0a096;
	border-radius:20%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1.5em;
	height: 2em;
    width: 2.2em;
	text-decoration:none;
	text-shadow:-4px 4px 5px #846048;
    margin: .1em;
}
.btn:hover {
	background-color:#846048;
	border:2px dotted #b0a096;
}

.btninfo h3 {
    color:#9f8375;
    margin-left:50px;
}


/* ---- Footer ---- */
footer {
	position:absolute;
	font-size:.75em;
	text-align:center;
	background-color:#514f4e;
	color: #b0afab;
	font-weight:700;
	width: 100%;
	height:5.5em;
	margin: none;
}

.footericon {
	max-height: 20px;
	margin-left:10px;
}

/* ---- Media Queries ---- */
@media (min-width: 769px) {
	nav ul {
	display: flex;
	flex-direction: row;
	}
}

@media (max-width: 400px) {
	nav ul {
		display:flex;
		flex-direction: column;
	}
	.logo {
		display: none;
	}
}